{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "GoogleMapsApiKey": "",
  "AesCryptoKey": "",
  "Currency": "TWD",
  "Marketing": "TW",
  "KKdayApi": {
    "Url": "https://api-b2d-10.sit.kkday.com/v4",
    "Url-QA": "https://api-b2d-214.sit.kkday.com/v4",
    "AuthorToken": "YOUR_B2D_API_TOKEN"
  }
}

